@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC</h1>
    <p class="lead">The Best Website</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab autem quisquam vitae nam ea, cum possimus laudantium soluta veritatis. Sequi nihil, dolorum ducimus iste nobis laudantium deleniti veritatis! Corporis, quis.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>